#!/bin/sh
set -eu

export AWS_ACCESS_KEY_ID="{{ aws_access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ aws_secret_access_key }}"
export AWS_ACCOUNT_ID="{{ aws_account_id }}"
export AWS_REGION="{{ aws_region }}"
export ECR_REGISTRY="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"
export ECR_PASSWORD=$(aws ecr get-login-password --region "$AWS_REGION")

if [ "$ECR_PASSWORD" = "" ]; then
  echo "Error: empty ecr password, probably failed to login?"
  exit 1
fi

mkdir -p /etc/rancher/k3s/
envsubst </usr/local/share/k3s-registries-template.yaml >/etc/rancher/k3s/registries.yaml
chmod o-rwx /etc/rancher/k3s/registries.yaml

k3s_service_name=$(systemctl list-units --type service | grep k3s | xargs echo | cut -d' ' -f1)
systemctl restart "$k3s_service_name"

echo "done."
